@model IEnumerable<TheCarHub.Areas.Admin.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
@foreach (var item in Model) {
    <figure>
        <img src="@Html.DisplayFor(modelItem => item.UrlImage)" />
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        <figcaption>
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.YearDate)
            </p>
            <p>
               @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Price)
            </p>
        </figcaption>
    </figure>
}
</div>
