@model IEnumerable<TheCarHub.Areas.Admin.DTO.Read.CarDtoRead>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>All cars</h1>

<div class="admin-actions">
    <p>
        <a asp-area="Admin" asp-controller="CarMakes" asp-action="Index">Add Makes</a>
    </p>
    <p>
        <a asp-area="Admin" asp-controller="CarModels" asp-action="Index">Add Model</a>
    </p>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<div class="product-list">
@foreach (var item in Model) {
    <figure class="product">
        <img src="@Url.Content(item.UrlImage.Replace("wwwroot", "~"))" alt="@item.Name" />
        <figcaption>
            <h2>
                @Html.DisplayFor(modelItem => item.Name)
            </h2>
            <p>
                @Html.DisplayFor(modelItem => item.Year)
            </p>
            <p>
               @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.SellingPrice) $
            </p>
        </figcaption>
        <div class="product-actions">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </figure>
}
</div>
