@model IEnumerable<TheCarHub.Areas.Admin.DTO.Read.CarDtoRead>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="CarMakes" asp-action="Index">Add Makes</a>
</p>
<p>
    <a asp-area="Admin" asp-controller="CarModels" asp-action="Index">Add Model</a>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
@foreach (var item in Model) {
    <figure>
            <img src="@Url.Content(item.UrlImage.Replace("wwwroot", "~"))" alt="@item.Name" />
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        <figcaption>
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Year)
            </p>
            <p>
               @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </p>
        </figcaption>
    </figure>
}
</div>
