@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    @foreach (var item in Model._carDtoReadList)
    {
        <figure>
            <a asp-area="ProductDetails" asp-controller="ProductDetails" asp-action="Details" asp-route-id="@item.Id">
                <img src="@Url.Content(item.UrlImage.Replace("wwwroot", "~"))" alt="@item.Name" />
                <figcaption>
                    <p>
                        @Html.DisplayFor(modelItem => item.Name)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Year)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.SellingPrice)
                    </p>
                </figcaption>
            </a>
        </figure>
    }
</div>
