@model TheCarHub.Areas.Admin.DTO.Read.CarDtoRead

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="detail-page">
    <figure class="product">
        <img src="@Url.Content(Model.UrlImage.Replace("wwwroot", "~"))" alt="@Model.Name" />
        <figcaption>
            <h4>@Model.Name</h4>
            <p><span>@Html.DisplayNameFor(model => model.Description) : </span>@Model.Description</p>
            <p><span>@Html.DisplayNameFor(model => model.Year) : </span>@Model.Year</p>
            <p><span>@Html.DisplayNameFor(model => model.VIN) : </span>@Model.VIN</p>
            <p><span>@Html.DisplayNameFor(model => model.Make) : </span>@Model.Make</p>
            <p><span>@Html.DisplayNameFor(model => model.Model) : </span>@Model.Model</p>
            <p><span>@Html.DisplayNameFor(model => model.Trim) : </span>@Model.Trim</p>
            <p><span>@Html.DisplayNameFor(model => model.SellingPrice) : </span>@Model.SellingPrice $</p>
            <p><span>@Html.DisplayNameFor(model => model.LotDate) : </span>@Model.LotDate</p>
            <p><span>@Html.DisplayNameFor(model => model.SalesDate) : </span>@Model.SalesDate</p>
        </figcaption>
    </figure>
</div>

